{% extends 'base.html' %}
{% block content %}

      <div id="desc">
          <h1><span>AVIRBHAV</span> 2022</h1>
          <p>Avirbhav, the annual fest of J. K. Institute of Applied Physics & Technology has come around for the year 2022. Its literal meaning is “appear to be in existence” and is a magnificent amalgam of new ideas, fresh approach, rejuvenated proud and integrity. It gives a visual sense of Renaissance and Emergence.
            Avirbhav, therefore, calls upon all of you to bring in innovative perspectives & participate with extraordinary passion.</p>
      </div>
      <div id="bottomDesc">
        <h3>15 APR - 6 MAY 2022</h3>
        <p>DEPARTMENT OF ELECTRONIC AND COMMUNICATIONS,J.K. INSTITUTE OF APPLIED PHYSICS AND TECHNOLOGY,UNIVERSITY OF ALLAHABAD</p>
        <button>EXPLORE</button>
    </div>
    </section>
    <!-- TOP section ending -->

    <!-- section 2 -->
    <section id="second">
        <div class="heading">
            <h3><span>JKIAPT</span> A GLIMPSE</h3>
            <button>HAVE A LOOK <i class="fa-solid fa-arrow-right"></i></button>
        </div>
        <div class="description">
            <p>The JK Institute of Applied Physics and Technology is the department devoted to imparting technical and engineering knowledge to its students. This department is under the University of Allahabad and has been instrumental in buy Ethereum in Qatar producing many stalwarts in the areas of Computer Science and Electronics since 1956, the year of its establishment.It was named as J.K. as J.K. Trust contributed for the construction of the complete building structure. It is a pioneer department</p>
        </div>
    </section>
<!-- section 2 end -->

<!-- section 3 -->
    <section id="lightSection">
    <div id="light">
        <img src="/static/assets/AVIRBHAV 1.jpg" alt="" >
    </div>
    <div class="heading2">
        <h3>AVIRBHAV</h3>
        <p>FIESTA FOR</p>
        <p>RENAAISSANCE </p>
        <h5>The annual cultural and technical fest of the department, is welcomed by each and every student with immense eagerness. It is a carnival for the incredible talent dwelling in the college. The 20 day fest is inaugurated with a cause-oriented marathon followed by various sports, academic, formal and informal events that finally end in a spectacular cultural eve. The fest is autonomously organized by the students bringing in a great deal of sponsorship from several organizations. It lasts for some days and includes technology, programming, debate, dance, music, sports and other activities.</h5>
    </div>
    </section>
    <!-- section 3 end -->

    <!-- section 4 -->
    <section id="gridCard">
        <h2>TEAMS</h2>
        <div class="grids">
            <div id="light"  class="light">
                <img src="/static/assets/CARD1.png" alt="" >
            </div>
            <div id="light" class="light">
                <img src="/static/assets/CARD4.png" alt="" >
            </div>
            <div id="light" class="light">
                <img src="/static/assets/CARD2.png" alt="" >
            </div>
            <div id="light" class="light">
                <img src="/static/assets/CARD3.png" alt="" >
            </div>
        </div>
    </section>

    <!-- section 4 end -->

    <section id="event">
      <h2>EVENTS</h2>
      <div class="eventBox">
        <ul class="eventNav"> 
          <li><a>ONLINE EVENTS</a></li>
          <li><a>SPORTS EVENTS</a></li>
          <li><a>CULTURAL EVENTS</a></li>
        </ul>
        <!-- <hr /> -->
        <div class="line"></div>

      <div id="list-container">
        <div class="list">
          <li><a href="#">Designing</a> </li>
          <li><a href="#">BGMI</a></li>
          <li><a href="#">PARODY</a></li>
          <li><a href="#">DUBSMASH</a></li>
          <li><a href="#">PRANKBAAZ</a></li>
          <li><a href="#">CAPTION</a></li>
          <li><a href="#">HUMSHAKAL</a></li>
          <li><a href="#">PAHELI</a></li>
          <li><a href="#">CODING</a></li>
          <li><a href="#">WORDS NOT SPOKEN (English/Hindi)</a></li>
          <li><a href="#">AD MANIA</a></li>
        </div>
        <div class="list list2">
          <li><a href="#">PRAYAG DARSHAN</a></li>
          <li><a href="#">CAPTURE THE MOMENT</a></li>
          <li><a href="#">FACE PAINTING</a></li>
          <li><a href="#">CHANAKYA NEETI(Business Development)</a></li>
          <li><a href="#">SPONSERSHIP</a></li>
          <li><a href="#">GUESS THE SONG</a></li>
          <li><a href="#">DOODLE MAKING</a></li>
          <li><a href="#">VIDEO BOMBING</a></li>
        </div>
      </div>
      </div>
    </section>  

    <!-- footer  -->
    <section id="footer">
      <ul class="footerContent">
        <li>
          <div class="brand">
            <img src="/static/assets/logo.png" alt="" srcset="">
            <h2>Avirbhav</h2>
          </div>
          <p>Avirbhav, the annual fest of J. K. Institute of Applied Physics & Technology has come around for the year 2022. Its literal meaning is “appear to be in existence” and is a magnificent amalgam of new ideas, fresh approach, rejuvenated proud and integrity. It gives a visual sense of Renaissance and Emergence.</p>
          
          <div class="social">
            <ul>
              <li>
                <img src="/static/assets/Vector (1).png" alt="" srcset="">
              </li>
              <li>
                <img src="/static/assets/Vector (2).png" alt="" srcset="">
              </li>
              <li>
                <img src="/static/assets/Vector (3).png" alt="" srcset="">
              </li>
            </ul>
          </div>
        </li>

        <li>
          <h3 class="contact">Contact Us</h3>
          <p>DEPARTMENT OF ELECTRONIC AND COMMUNICATIONS,J.K. INSTITUTE OF APPLIED PHYSICS AND TECHNOLOGY,UNIVERSITY OF ALLAHABAD</p>
          <p>Email: placements.jk@gmail.com
            Phone: 0532-2460068 (O)</p>
        </li>


        <li>
          <h3 class="submit">Submit Your Feedback</h3>
          <p>Mistakes should be examined, learned from, and discarded; not dwelled upon and stored !!</p>
          <button>FEEDBACK <i class="fa-solid fa-arrow-right"></i></button>
        </li>
      </ul>
    </section>
  
    <script src="/static/script/script.js"></script>
{% endblock content %}